* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* declaration var start */
:root {
    --vermelho: #E50914;
    --preto: #141414;
}
/* declaration var end */

/* menu navigation start */
body {
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 35px;
}
header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}
header nav a:hover {
    color: #fff;
}
/* menu navigation end */

/* main filme principal */
.filme-principal {
    font-size: 16px;
    background-image: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)), url(../img/Deuses-Americanos-banner-2.jpg);

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao {
    margin-bottom: 40px;
}
.titulo {
    font-size: 40px;
}