@media screen and (max-width: 700px){
    header .container {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
    }

    .filme-principal .container {
        width: 90%;
    }
    .botao {
        font-size: 12px;
        padding: 10px 20px;
    }
    .botoes {
        display: flex;
    }
}